<img src="" alt="">*{
    margin: 0;
    font-family: sans-serif;
}
.main-header{
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    transition: background-color 0.5s ease;
    z-index: 999;
    -webkit-box-shadow:0px 1px 4px 2px #dedede;
    -moz-box-shadow:0px 1px 4px 2px #dedede;
    box-shadow: 0px 1px 4px 2px #dedede;
    display: flex;
     justify-content: flex-start;
     align-items: center; 

}
.scroll-header{
    background-color: #f0d47c;   
}
.nav-texts{
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    padding-left: 20px;
}
.nav-name{
    color: #022A55;
    font-size: 27px;
    font-weight: bold;
 position: fixed;
 left:50%;
}
/* .header-about{
    display: grid;
    align-items: center;
    justify-content: center;
    color: black;
} */
.my-photo{
    height: 433px;
    margin-left: 131px;
    width: 313px;
    object-fit: contain;
}
.detail-container{
    height: auto;
    width: 35%;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
    box-sizing: border-box;
    padding-bottom: 10px;
    padding-top: 0px;
}
.my-photo-detail{
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
    word-break: break-word;
    line-height: 25px;
        position: relative;
        right: 70px;
    
    
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0px;
    margin-top: 30px;
}
/* button */
.btn-icon{
    width: 100%;
    margin: auto;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
    margin-top: 10px;
  }
  
  .fa {
    padding: 0px;
    width: 0px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-linkedin {
    background: #022A55;
    color: white;
  }
  .fa-github {
    background: #022A55;
    color: white;
  }
  .fa-phone {
    background: #022A55;
    color: white;
  }
  .fa-envelope {
    background: #022A55;
    color: white;
  }
  
  #round {
    padding: 8px;
    font-size: 15px;
    width: 18px;
    text-align: center;
    text-decoration: none;
    margin: 30px 5px;
    border-radius: 50%;
}
.mobile-nav{
  display: none;
}
@media only screen and (max-width: 600px) {
    .mobile-nav{
      display: block;
    }
    nav {
      display: none;
    }
    .hamburger-menu {
      display: block;
      background: none;
      border: none;
      font-size: 24px;
      cursor: pointer;
    }


  .nav-buttons{
        display: none;
  }
  .nav-name{
    left: 0;
    right: 0;
    text-align: center;
  }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0px;
    }
    .my-photo{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0px;
        height: 231px;
        margin-left: 0px;
        width: 167px;
        object-fit: contain;
    }
    .my-photo-detail{
        justify-content: center;
        align-content: center;
        align-items: center;
        display: flex;
        word-break: break-word;
        line-height: 25px;
        position: relative;
        right: 0;
    }
    .detail-container{
        height: auto;
        width: 90%;
        font-size: 13px;
        font-style: normal;
        font-weight: normal;
        text-transform: none;
        box-sizing: border-box;
        padding-bottom: 10px;
        padding-top: 0px;
        margin-top: 40px;
    }
    .btn-icon{
        width: 100%;
        margin: auto;
        margin-left: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3px;
        margin-bottom: 30px;
        margin-top: 0px;
      }
      #round {
        padding: 8px;
        font-size: 15px;
        width: 18px;
        text-align: center;
        text-decoration: none;
        margin: 0px 5px;
        border-radius: 50%;
        margin-bottom: 20px;
        margin-top: 0;
    }

}
