*{
    margin: 0;
    font-family: sans-serif;
}
.main-header{
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    transition: background-color 0.5s ease;
    z-index: 999;
    -webkit-box-shadow:0px 1px 4px 2px #dedede;
    -moz-box-shadow:0px 1px 4px 2px #dedede;
    box-shadow: 0px 1px 4px 2px #dedede;
    display: flex;
     justify-content: flex-start;
     align-items: center; 

}
.scroll-header{
    background-color: #f0d47c;   
}
.nav-texts{
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    padding-left: 20px;
}
.nav-name{
    color: #022A55;
    font-size: 27px;
    font-weight: bold;
 position: fixed;
 left:50%;
}
.my-photo{
    height: 433px;
    margin-left: 131px;
    width: 313px;
    object-fit: contain;
}
.detail-container{
    height: auto;
    width: 35%;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
    box-sizing: border-box;
    padding-bottom: 10px;
    padding-top: 0px;
}
.my-photo-detail{
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
    word-break: break-word;
    line-height: 25px;
    
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0px;
}

@media only screen and (max-width: 768px) {
    .container{
       
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0px;
    }
    .my-photo{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0px;
        height: 231px;
        margin-left: 0px;
        width: 167px;
        object-fit: contain;
    }
    .my-photo-detail{
        justify-content: center;
        align-content: center;
        align-items: center;
        display: flex;
        word-break: break-word;
        line-height: 25px;
    }
    .detail-container{
        height: auto;
        width: 90%;
        font-size: 13px;
        font-style: normal;
        font-weight: normal;
        text-transform: none;
        box-sizing: border-box;
        padding-bottom: 10px;
        padding-top: 0px;
        margin-top: 40px;
    }
    .about{
        background-image: url(https://cdn.myportfolio.com/4ebaa126-52bc-40a4-92cd-2eaf82b8f18f/e445aeda-308c-4969-b811-8a0312ede5e1_rwc_10x0x1979x2800x4096.png?h=1e546330ee219f60efeb72b10e7b604a);
        background-size: cover;
    }

}
