*{
    margin: 0;
    /* font-family: sans-serif; */
}
/* .about{
    background-image: url(https://cdn.myportfolio.com/4ebaa126-52bc-40a4-92cd-2eaf82b8f18f/e445aeda-308c-4969-b811-8a0312ede5e1_rwc_10x0x1979x2800x4096.png?h=1e546330ee219f60efeb72b10e7b604a);
                background-size: cover;
                padding: 30px;
                margin-top: 60px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                align-items: center;
            
                gap: 20px;
                padding-top: 100px;
} */
.main-header{
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    transition: background-color 0.5s ease;
    z-index: 999;
    -webkit-box-shadow:0px 1px 4px 2px #dedede;
    -moz-box-shadow:0px 1px 4px 2px #dedede;
    box-shadow: 0px 1px 4px 2px #dedede;
    display: flex;
     justify-content: flex-start;
     align-items: center; 

}
.scroll-header{
    background-color: #f0d47c;   
}
.nav-texts{
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    padding-left: 20px;
}
.nav-name{
    color: #022A55;
    font-size: 27px;
    font-weight: bold;
 position: fixed;
 left:50%;
}

/* education */
.education{
    margin-top: 50px;
    margin-left: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 30px;
    width: 90%;
}
.education-header{
    margin-bottom: 50px;
    padding: 5px;
    font-weight: bolder;
    font-size: 17px;
    position: relative;
    left: -19px;
    top: -14px;
    font-family: sans-serif;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 1, 2);
}
.education-header-bg{
    background-color: #f0d47c;
    width: 140px;
    height: 30px;
    margin-bottom: 50px;
    
}
.guvi-header{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: sans-serif;
}
.guvi{
    font-family: 'Genos', sans-serif;
    color: #022A55;
    font-size: 15px;
    font-weight: bold;
    margin: 3px;
    margin-bottom: 40px;
}
#guvi-date{
    margin-top: 33px;
    font-size: 17px;
    font-weight: bold;
    font-family: sans-serif;
}
.guvi-date1{
    position: relative;
    bottom: 78px;
}
.guvi-date2{
    position: relative;
    bottom: 37px;
}
.guvi-date3{
    position: relative;
    bottom: -24px;
}
.education-right{
    margin-right: 40px;
}
/* experience */
.experience{
    margin-top: 50px;
    margin-left: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 41px;
    width: 80%;
}
.experience-header{
    margin-bottom: 50px;
    padding: 5px;
    font-weight: bolder;
    font-size: 17px;
    position: relative;
    left: -19px;
    top: -14px;
    font-family: sans-serif;
    box-shadow: 0px 5px 10px 0px rgb(0 0 1);
}
.experience-header-bg{
    background-color: #f0d47c;
    width: 150px;
    height: 30px;
    margin-bottom: 50px;
}
.intership-header{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: sans-serif;
    
}
.intership{
    font-family: 'Genos', sans-serif;
    color: #022A55;
    font-size: 16px;
    font-weight: bold;
    margin: 3px;
    margin-bottom: 20px;
}
.experience-right{
    margin-left: -67px;
}
#intership-date{
    margin-top: 33px;
    font-size: 17px;
    font-weight: bold;
    font-family: sans-serif;
}
.intership-date1{
    position: relative;
    bottom: 46px;
}
.intership-list{
    font-family: sans-serif;
}
/* SKILLS */
.skills{
    margin-top: 50px;
    margin-left: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 41px;
}
.skills-header{
    margin-bottom: 50px;
    padding: 5px;
    font-weight: bolder;
    font-size: 17px;
    position: relative;
    left: -19px;
    top: -14px;
    font-family: sans-serif;
    box-shadow: 0px 5px 10px 0px rgb(0 0 1);
    width: 60px;
}
.skills-header-bg{
    background-color: #f0d47c;
    width: 66px;
    height: 30px;
    margin-bottom: 50px;
    margin-top: 30px;
}
.skills-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 740px;
}
.skills-icon{
    width: 70px;
    height: 70px;
    object-fit: contain;
    padding: 5px;
    margin: 10px;
    border: 1px solid #022A55;
    background-color:#022A55;
    box-shadow: 0px 5px 10px 0px rgba(3, 8, 1, 2);
}
/* projects */
.project{
    margin-top: 50px;
    /* margin-left: 45px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin-right: 41px; */
}
.project-header{
    margin-bottom: 50px;
    padding: 5px;
    font-weight: bolder;
    font-size: 17px;
    position: relative;
    left: -19px;
    top: -14px;
    font-family: sans-serif;
    box-shadow: 0px 5px 10px 0px rgb(0 0 1);
}
.project-header-bg{
    background-color: #f0d47c;
    width: 98px;
    height: 30px;
    margin-bottom: 50px;
    margin-top: 30px;
}
.project-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    font-size: 14px;
    position: relative;
    font-family: sans-serif;
    bottom: 62px;
}
/* project card */
.project-card{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    width: 600px;
    height: 250px;
    background-color: #022A55;
    margin-bottom: 30px;
    box-shadow: 0px 5px 10px 0px rgba(3, 8, 1, 2);
}
.card-image{
    display: flex;
    width: 280px;
    height: 200px;
    object-fit: cover;
    align-items: flex-start;
    flex-direction: row;
    margin-left: 23px;
    box-shadow: 0px 5px 10px 0px rgba(3, 8, 1, 2);
}
.card-detail{
    margin-right: 15px;
    color: #f0d47c;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.peoject-name{
    font-weight: bold;
    list-style: none;
    font-size: 20px;
    font-family: sans-serif;
    color:#e4bc4c;
    box-shadow: 0px 5px 10px 0px rgba(3, 8, 1, 2);
    display: inline;
}


/* mobile */
@media only screen and (max-width: 600px) {
    .about{
    background-image: url(https://cdn.myportfolio.com/4ebaa126-52bc-40a4-92cd-2eaf82b8f18f/e445aeda-308c-4969-b811-8a0312ede5e1_rwc_10x0x1979x2800x4096.png?h=1e546330ee219f60efeb72b10e7b604a);
    background-size: contain;
    padding: 30px;
    /* margin-top: 20px; */
    justify-content: space-between;
    gap: 20px;
    padding-top: 100px;
    }
    .education{
        margin-top: 50px;
        margin-left: -2px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 21px;
    }
    .education-right{
        margin-right: 5px;
    }
    /* experience */
    .experience{
        margin-top: 50px;
        margin-left: 45px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-right: 41px;
        width: 99%;
    }
    .experience-right{
        margin-left: -45px;
    }
    /* SKILLS */
    .skills{
        margin-top: 50px;
        margin-left: 45px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-right: 41px;
    }
    .skills-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 111%;
        max-width: 740px;
        
    }
    .skills-icon{
        width: 70px;
        height: 70px;
        object-fit: contain;
        padding: 5px;
        margin: 10px;
        border: 1px solid #022A55;
        background-color:#022A55;
        box-shadow: 0px 5px 10px 0px rgba(3, 8, 1, 2)
    }
    /* projects */
    .project-card{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 350px;
        height: 472px;
        background-color: #022A55;
        margin-bottom: 30px;
        box-shadow: 0px 5px 10px 0px rgb(3, 8, 1, 2);
        position: relative;
    }
    .card-image{
        display: block;
        width: 299px;
        height: 200px;
        object-fit: cover;
        align-items: flex-start;
        flex-direction: row;
        margin-left: 23px;
        box-shadow: 0px 5px 10px 0px rgb(3 8 1);
        position: absolute;
        top: 45px;
    }
    .card-detail{
        margin-right: 15px;
        color: #f0d47c;
        margin-top: 10px;
        margin-bottom: 10px;
        
    }
    .peoject-name{
        font-weight: bold;
        list-style: none;
        font-size: 20px;
        font-family: sans-serif;
        color: #e4bc4c;
        box-shadow: 0px 5px 10px 0px rgb(3 8 1);
        display: inline;
        position: absolute;
        top: 287px;
    }
    .project-card-details{
        bottom: 30px;
        /* position: absolute; */
        position: relative;
        top: 132px;
    }
    .ferme{
        /* margin-right: 37px; */
        left: 16px;
    }
    #insta{
        top: 106px;
    }
    
}